    </div>
    <style>
        body>.footer {
            width: 70%;
            left: 15%;
            height: 50px;
            border: 1px solid lightgray;
            border-bottom: unset;
            position: fixed;
            bottom: 0;
            display: flex;
            background: white;
            font-size: 15px;
        }
        body>.footer .item {
            flex: 1 0 auto;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
        body>.footer .item * {
            display: inline-block;
        }
        body>.footer .item i {
            margin-right: 5px;
            color: black;
        }
        body>.footer .item .text {
            color: gray;
        }
        body>.footer .item .text:hover, body>.footer .item i:hover+.text {
            color: black;
        }
        body>.footer i.fa-discord {
            color: #7289DA;
        }
        body>.footer i.fa-facebook {
            color: #4267B2;
        }
    </style>
    <div class="footer">
        <div class="item"><a href="https://www.facebook.com/gkaljulaid" target="_blank"><i class="fab fa-facebook"></i><div class="text">Gregor Kaljulaid</div></a></div>
        <div class="item"><a href="https://github.com/Mephiles" target="_blank"><i class="fab fa-github"></i><div class="text">Mephiles</div></a></div>
        <div class="item"><a href="https://steamcommunity.com/id/mephilez" target="_blank"><i class="fab fa-steam"></i><div class="text">Mephiles</div></a></div>
        <div class="item"><a><i class="fab fa-discord"></i><div class="text">Mephiles#1547</div></a></div>
    </div>
    <script>
        function findParent(element, attributes={}){
            if(!element.parentElement){
                return undefined;
            } else {
                if(attributes.class && element.parentElement.classList.contains(attributes.class)){
                    return element.parentElement;
                }
                if(attributes.id && element.parentElement.id == attributes.id){
                    return element.parentElement;
                }

                return findParent(element.parentElement, attributes);
            }
        }
    </script>
</body>
</html>