            <div id="footer" style="display: none">
                Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy" target="_blank">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </body>
    <script type="text/javascript">
    	// function sidePanel(state){
    	// 	if(state === "open"){
    	// 		$("#openSidePanel").hide();
	    // 		$("#leftPanel").animate({width: "toggle"}, 200, function(){
    	// 			$("#closeSidePanel").show();
	    // 		});
    	// 	} else if(state === "close"){
	    // 		$("#closeSidePanel").hide()
	    // 		$("#leftPanel").animate({width: "toggle"}, 200, function(){
    	// 			$("#openSidePanel").show();
	    // 		});
    	// 	}
    	// }
    </script>
</html>