        </div>
        <div id="footer"></div>
    </body>
    <script type="text/javascript">
    	// function sidePanel(state){
    	// 	if(state === "open"){
    	// 		$("#openSidePanel").hide();
	    // 		$("#leftPanel").animate({width: "toggle"}, 200, function(){
    	// 			$("#closeSidePanel").show();
	    // 		});
    	// 	} else if(state === "close"){
	    // 		$("#closeSidePanel").hide()
	    // 		$("#leftPanel").animate({width: "toggle"}, 200, function(){
    	// 			$("#openSidePanel").show();
	    // 		});
    	// 	}
    	// }
    </script>
</html>