<!DOCTYPE html>
<html>
<head>
	<title>Gregor Kaljulaid | Developer</title>
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap" rel="stylesheet">
	
	<!-- CSS style -->
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			font-family: 'Raleway', sans-serif;
			font-size: 18px;
		}

		a {
			text-decoration: none;
			cursor: pointer;
		}

		#nav {
			width: 100%;
			height: 70px;
			background-color: #f5f5f5;
		}

		#content {
			width: 60%;
			margin: auto;
		}

		#nav-inner {
			width: 60%;
			margin: auto;
			font-size: 19px;
			line-height: 70px;
		}

		#nav-inner .left, #nav-inner .right{
			float: left;
		}

		#nav-inner .left {
			width: 50%;
		}
		#nav-inner .right {
			width: 50%;
		}

		#nav-inner .item {
			float: left;
			margin-left: 20px;
			color: #7b7b7b;
		}

		#nav-inner .right .item {
			float: right;
			margin-left: 20px;
			color: #7b7b7b;
		}

		#nav-inner .item a {
			color: inherit;
		}

		#nav-inner .item:hover {
			color: black;	
		}

		#nav-inner .left .item:first-of-type {
			margin-left: 0;
		}

		#nav-inner .header.item {
			font-size: 27px;
			margin-right: 20px;
			color: black;
		}

		#nav-inner .header.item span {
			float: none;
		}

		#nav-inner .item .active-symbol{
			display: none;
		}

		#nav-inner .active.item .active-symbol{
			display: block;
			line-height: 69px;
			color: black;
			font-size: 25px;
		}

		#nav-inner .item span {
			float: left;
		}

		.bold {
			font-weight: 600;
		}
	</style>
</head>
<body>
	<div id="nav">
		<div id="nav-inner">
			<div class="left">
				<div class="header item">G<span class="bold">K</span></div>
			</div>
			<div class="right">
				<div class="item"><a href="/projects"><span class="active-symbol"><&nbsp;</span><span>Projects</span><span class="active-symbol">&nbsp;></span></a></div>
				<div class="item"><a href="/education"><span class="active-symbol"><&nbsp;</span><span>Education</span><span class="active-symbol">&nbsp;></span></a></div>
				<div class="item"><a href="/"><span class="active-symbol"><&nbsp;</span><span>Home</span><span class="active-symbol">&nbsp;></span></a></div>
			</div>
		</div>
	</div>
	<div id="content">
		
		