<!DOCTYPE html>
<html>
    <head>
        <title>Gregor Kaljulaid</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/app.css">
    </head>
    <body>
        <!-- <div id="leftPanel">
            <div id="closeSidePanel" onclick="sidePanel('close')">&times;</div>
            <div id="profile">
                <div id="profile-image"></div>
                <div id="profile-name"></div>
            </div>
            <div id="nav">
                <a href="/trade/new"><div class="nav-link">Trade Demo</div></a>
                <a href="/edu-calc"><div class="nav-link">Education Calculator</div></a>
                <a href="/help"><div class="nav-link">Help</div></a>
                <a href="/factions"><div class="nav-link">Factions</div></a>
                <a href="/companies"><div class="nav-link">Companies</div></a>
                <a href="/users"><div class="nav-link">Users</div></a>
                <% if(user) {%>
                    <hr>
                    <a href="/home"><div class="nav-link">Home</div></a>
                    <a href="/profile"><div class="nav-link">Profile</div></a>
                    <a href="/faction/<%=user.faction.id%>"><div class="nav-link">Faction</div></a>
                    <a href="/company/<%=user.company.id%>"><div class="nav-link">Company</div></a>
                <%}%>
            </div>
        </div>
        <div id="content">
            <div id="navbar">
                <div id="leftside">
                    <span class="left item" id="openSidePanel" onclick="sidePanel('open')">></span>
                    <div id="logo" class="left item">
                        <a href="/">Torn<span style="font-weight: 600;">Tools</span></a>
                    </div>
                </div>
                <div id="rightside">
                    <% if(!user){ %>
                        <div class="right item"><a href="/register">Register</a></div>
                        <div class="right item"><a href="/login">Login</a></div>
                    <%} else {%>
                        <div class="right item"><a href="/logout">Logout</a></div>
                    <%}%>
                </div>
            </div>
            <% if(success[0]){%>
            <div id="message" class="success"><%=success%></div>
            <%} else if (error[0]) {%>
            <div id="message" class="error"><%=error%></div>
            <%}%> -->