<!DOCTYPE html>
<html>
<head>
	<title>Gregor Kaljulaid | SE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap" rel="stylesheet">
	
	<!-- CSS style -->
	<style type="text/css">
		html, body {
			margin: 0;
			padding: 0;
			min-height: 100%;
			font-family: 'Raleway', sans-serif;
			font-size: 17px;
			min-width: 340px;
	    	padding-bottom: 100px;
		}

		a {
			text-decoration: none;
			cursor: pointer;
			color: inherit;
		}

		.nav .nav-inner .hamburger {
			display: none;
			height: 70px;
		}
		.hamburger i {
			line-height: 70px;
			cursor: pointer;
		}

		.nav {
			width: 100%;
			height: 70px;
			background-color: #f5f5f5;
		}
		.nav-inner {
			width: 60%;
			margin: auto;
			font-size: 19px;
			line-height: 70px;
       		white-space: nowrap;
		}
		.nav-inner .left, .nav-inner .right {
			width: 50%;
			display: inline-block;
			vertical-align: top;
		}
		.nav-inner .right {
			display: inline-flex;
			flex-flow: row-reverse;
		}
		.nav-inner .left .logo {
			font-size: 27px;
			color: black;
		}
		.nav-inner .left .logo span {
			font-weight: 600;
		}
		.nav-inner .right .link {
			display: inline-block;
			margin-left: 20px;
			margin-right: 20px;
			color: #7b7b7b;
			position: relative;
		}
		.nav-inner .right .link:hover {
			color: black;
		}
		.nav-inner .right .active.link:before {
			content: "<";
			position: absolute;
			left: -15px;
			font-size: 25px;
			top: -1px;
		}
		.nav-inner .right .active.link:after {
			content: ">";
			position: absolute;
			right: -15px;
			font-size: 25px;
			top: -1px;
		}

		.content {
			width: 60%;
			margin: auto;
		}

		.main {
			width: 70%;
			margin: auto;
			margin-top: 100px;
		}

		body .nav .nav-inner .active-mobile-nav {
			display: flex !important;
			flex-flow: column-reverse !important;
			position: absolute !important;
			top: 70px !important;
			width: 100% !important;
			left: 0px !important;
			background-color: white !important;
		}
		.active-mobile-nav .link {
			display: block !important;
			width: 100% !important;
			border-bottom: 1px solid lightgray !important;
			margin: 0px !important;
			padding: 0px !important;
			text-align: center !important;
		}
		.active-mobile-nav .link:before {
			content: "" !important;
		}
		.active-mobile-nav .link:before {
			content: "" !important;
		}

		.active-mobile-footer {
			display: block !important;
			position: absolute !important;
			width: 100% !important;
			border-top: unset !important;
		}
		.active-mobile-footer .item {
			display: block !important;
			width: 100% !important;
		}

		@media screen and (max-width: 1000px){
			.nav-inner {
				width: 95% !important;
			}
			.content, .main {
				width: 95%;
			}
        }
		@media screen and (max-width: 650px){
			.nav-inner .left {
				width: fit-content;
			}
			.nav-inner .right {
				width: fit-content;
				float: right;
			}
        }
		@media screen and (max-width: 400px){
			.main {
				margin-top: 50px !important;
			}
			.nav-inner {
				width: 80% !important;
			}
			.nav-inner .right:not(.hamburger) {
				display: none !important;
			}
			.hamburger {
				display: inline-flex !important;
			}
        }
        
	</style>
</head>
<body>
	<!-- <div class="mobile-nav-bar"></div> -->
	<div class="nav">
		<div class="nav-inner">
			<div class="left">
				<div class="logo">G<span>K</span></div>
			</div>
			<div class="right links">
				<div class="link"><a href="/projects">Projects</a></div>
				<div class="link"><a href="/education">Education</a></div>
				<div class="link"><a href="/">Home</a></div>
				<!-- <div class="link"><a href="/career">Career</a></div> -->
			</div>
			<div class="right hamburger">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</div>
	<div class="content">
		
		