<% include partials/header%>

<style>
    .main-heading {
        font-size: 24px;
        font-weight: 600;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .section {
        /* border: 1px solid lightgray; */
        border-left: 2px solid lightgray;
        margin-left: 20px;
        padding-left: 20px;
        padding-bottom: 30px;
    }

    .section .heading {
        font-weight: 600;
        font-size: 18px;
        border-bottom: 1px solid lightgray;
    }
    .section .heading span {
        font-weight: 400;
        font-size: 16px;
    }
    .section .time {
        font-size: 15px;
    }
    .section .text {
        margin-top: 10px;
        margin-left: 10px;
    }
</style>

<div class="main">
    <div class="main-heading">Courses</div>
    <div class="section">
        <div class="heading">Kesk- ja põhikoolide meistrivõistlused 2019/2020, I etapp<span> - Eesti Väitlusselts</span></div>
        <div class="time">2019</div>
        <!-- <div class="text">Eesti väitlus meistrivõistlusted kestsid 3 päeva ning minu meeskond saavutas üldarvestuses 7. koha ning algajate arvestuses 1. koha.</div> -->
        <div class="text">"Kesk- ja põhikoolide meistrivõistlused 2019/2020, I etapp" (the first stage of Estonia's basic and high school championships) lasted 3 days and my team finished with the 7th place (out of 45) in all teams and 1st place (out of 26) in the beginner group.</div>
    </div>
    <div class="section">
        <div class="heading">Argument<span> - Eesti Väitlusselts</span></div>
        <div class="time">2019</div>
        <!-- <div class="text">Argument on 2 nädalavahetust kestev üritus, mille eesmärgiks on tutvustada väitlemist ning õpetada argumenteerimist. Teise nädalavahetuse lõpus toimus ka Vabariigi Presidendi Väitlusturniir algajatele, kus minu meeskond saavutas 3-4. koha.</div> -->
        <div class="text">"Argument" is an event that lasts for 2 weekends with the goal to introduce debating and argumenting to beginners. There was also the "Vabariigi Presidendi Väitlusturniir" (the debate tournament of the president of the republic) for beginners where my team finished by sharing the 3th and 4th place.</div>    </div>
    <div class="section">
        <div class="heading">Hüppelaud<span> - Eesti 2.0</span></div>
        <div class="time">2019</div>
        <!-- <div class="text">Hüppelaud on üritus, mis kestab 1 nädal ning, mille eesmärgiks on tutvustada noortele start-upe, ideest produktini jõudmist ning tiimitööd.</div> -->
        <div class="text">"Hüppelaud" is an event that lasts for 1 week and its goal is to introduce start-ups to young people. It also teaches how to get from an idea to a product and the teamwork that's needed in the process.</div>
    </div>
    <div class="section">
        <div class="heading">Programmeerimise alused II<span> - Tartu Ülikool</span></div>
        <div class="time">2015</div>
        <!-- <div class="text">Programmeerimise alused II on e-kursus, mida pakkus Tartu Ülikool. See kestis 8 nädalat ning lõpetamise puhul teenis osavõtja ka 3 EAPd. Kursuse eesmärk oli põhjalikumalt käsitleda Pythonit ja selle rakendamist.</div> -->
        <div class="text">"Programmeerimise alused II" (the basics of coding II) is an e-course offered by the University of Tartu. It lasted 8 weeks and rewarded graduates with 3 EAPs (course credit used by Europe). The goal of this course was to teach a bit more advanced Python and its usages.</div>
    </div>
    <div class="section">
        <div class="heading">Programmeerimise alused I<span> - Tartu Ülikool</span></div>
        <div class="time">2015</div>
        <!-- <div class="text">Programmeerimise alused I on e-kursus, mida pakkus Tartu Ülikool. See kestis 8 nädalat ning lõpetamise puhul teenis osavõtja ka 3 EAPd. Kursuse eesmärk oli tutvustada Pythonit ja selle rakendamist.</div> -->
        <div class="text">"Programmeerimise alused I" (the basics of coding I) is an e-course offered by the University of Tartu. It lasted 8 weeks and rewarded graduates with 3 EAPs (course credit used by Europe). The goal of this course was to introduce Python and its usages.</div>
    </div>
    <div class="section">
        <div class="heading">Programmeerimisest maalähedaselt<span> - Tartu Ülikool</span></div>
        <div class="time">2015</div>
        <!-- <div class="text">Programmeerimisest maalähedaselt on e-kursus, mida pakkus Tartu Ülikool. See kestis 4 nädalat ning lõpetamise puhul teenis osavõtja ka 1 EAP. Kursuse eesmärk oli tutvustada programmeerimise olemust, algoritme jms lähtudes igapäeva esemetest ja protsessidest.</div> -->
        <div class="text">"Programmeerimisest maalähedaselt" (coding for the laymen) is an e-course offered by the University of Tartu. It lasted 4 weeks and rewarded graduates with 1 EAP (course credit used by Europe). The goal of the course was to introduce the nature of programming and algorithms by using everyday items and processes.</div>
    </div>
    <div class="main-heading">Education</div>
    <div class="section">
        <div class="heading">University<span> - TalTech</span></div>
        <div class="time">2020-</div>
        <div class="text"></div>
    </div>
    <div class="section">
        <div class="heading">High School<span> - Märjamaa Gümnaasium</span></div>
        <div class="time">2017-2020</div>
        <div class="text"></div>
    </div>
    <div class="section">
        <div class="heading">Basic School<span> - Märjamaa Gümnaasium</span></div>
        <div class="time">2008-2017</div>
        <div class="text"></div>
    </div>
</div>

<script type="text/javascript">
    window.addEventListener("load", function(){
        document.querySelector("a[href='/education']").parentElement.classList.add("active");
    });
</script>

<% include partials/footer%>