<% include partials/header%>

<h2>&nbsp;&nbsp;&nbsp;HELLO WORLD! - logs</h2>

<ul>
	<% for(let log of data){%>
		<li>
			<span><%=log.type%></span>
			<span><%=log.ip%></span>
			<span><%=log.date%></span>
		</li>
	<%}%>
</ul>


<% include partials/footer%>