<% include ../partials/header %>

<style>
    .main>.heading {
        font-size: 30px;
        font-weight: 600;
        border-bottom: 2px solid lightgray;
        width: fit-content;
        min-width: 250px;
        padding-bottom: 5px;
    }
    .main>.time {
        margin-top: 5px;
        margin-bottom: 40px;
        font-size: 14px;
    }
    .main>.description {
        font-size: 16px;
    }
    .main>.last-edited {
        text-align: right;
        font-size: 15px;
        color: gray;
        margin-top: 10px;
    }
    .main>.footer {
        margin-top: 50px;
    }
    .footer>.heading {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .footer>.info {
        font-size: 16px;
    }
    .footer a {
        color: gray;
    }
    .footer a:hover {
        color: black;
    }

</style>

<div class="main">
    <div class="heading">TornTools</div>
    <div class="time">15.12.2018</div>
    <div class="description">
Torn.com is an online role-playing game which I started playing on the 24th of October, 2017. Torn has provided a great community in the form of companies, factions and just "business acquaintances". It has also provided an awesome platform for programmers who can take advantage of its API system. The API has given players lots of useful data for creating simple scripts as displaying more advanced information about a player to full-on websites where you can keep track of your stats, networth, achievements etc.
<br>
<br>
My journey started with diving into the API and seeing what kind of data is available. I created my first extension called Torn Market in June, 2018. It had one purpose: to let users check the market prices of items while travelling (in-game). Being fascinated by how welcoming and appreciative the community was, I decided to create another extension called Torn Achievements which showed the user their progress of achievements conveniently in the game's navigation bar.
<br>
<br>
After realizing that there was no point in publishing a new browser extension for every single awesome feature I could come up with, I decided to put those two add-ons together into what's now called TornTools. During the next few years (with occasional downtimes) I have managed to add lots of cool features that my users appreciate and often thank me for. On the 24th of May, 2020 TornTools reached a total of 1,000 downloads (Chrome + Firefox).</div>
    <div class="last-edited">last edited: 06.06.2020</div>
    <div class="footer">
        <div class="heading">Links</div>
        <div class="info">
            <div class="item"><a href="https://github.com/Mephiles/torntools_extension" target="_blank">Github</a></div>
            <div class="item"><a href="https://chrome.google.com/webstore/detail/hjpaapdjcgbmeikfnahipphknonhlhib" target="_blank">Chrome web store</a></div>
            <div class="item"><a href="https://addons.mozilla.org/et/firefox/addon/torn-tools/" target="_blank">Firefox add-ons</a></div>
            <div class="item"><a href="https://www.torn.com/2087524" target="_blank">Torn (my referral link)</a></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.addEventListener("load", function(){
        document.querySelector("a[href='/projects']").parentElement.classList.add("active");
    });
</script>

<% include ../partials/footer %>