<% include ../partials/header %>

<style>
    .main>.heading {
        font-size: 30px;
        font-weight: 600;
        border-bottom: 2px solid lightgray;
        width: fit-content;
        min-width: 250px;
        padding-bottom: 5px;
    }
    .main>.time {
        margin-top: 5px;
        margin-bottom: 40px;
        font-size: 14px;
    }
    .main>.description {
        font-size: 16px;
    }
    .main>.last-edited {
        text-align: right;
        font-size: 15px;
        color: gray;
        margin-top: 10px;
    }
    .main>.footer {
        margin-top: 50px;
    }
    .footer>.heading {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .footer>.info {
        font-size: 16px;
    }
    .footer a {
        color: gray;
    }
    .footer a:hover {
        color: black;
    }

</style>

<div class="main">
    <div class="heading">Torn Travel</div>
    <div class="time">04.06.2020</div>
    <div class="description">
Torn Travel is a discord bot made for Torn.com players (check out what Torn is via the link below).
As travelling is a big part of Torn and there is no API info about items available overseas then a community-made page YATA (Yet Another Torn App) created a database for everybody to push and pull data about overseas items.
Torn Travel is a convenient way for discord users to get data from YATA's server.
    </div>
    <div class="last-edited">last edited: 06.06.2020</div>
    <div class="footer">
        <div class="heading">Links</div>
        <div class="info">
            <div class="item"><a href="/projects/torntools" target="_blank">TornTools (project info)</a></div>
            <div class="item"><a href="https://www.torn.com/2087524" target="_blank">Torn (my referral link)</a></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.addEventListener("load", function(){
        document.querySelector("a[href='/projects']").parentElement.classList.add("active");
    });
</script>

<% include ../partials/footer %>